In [98]:
import pandas as pd

Importando planilha google docs

In [99]:
url_or_file='https://docs.google.com/spreadsheets/d/e/2PACX-1vQrGR2RwQBQAbt3Mzu0UbgKMGSY1hxXtt8rV1fcLzrwjRy2KBDUaSOoT5EKt-j0t6cxZ0KIz-4O0ZVf/pub?gid=891049362&single=true&output=csv'

Criando Dataframe vazio onde recebera atravez do laço for, todas as perguntas com suas respostas das (14) colunas.

In [100]:
df=pd.DataFrame()
df['Carimbo_de_data_hora']=''
df['Answer']=''
df['Question']=''
df['Questionid']=''

In [101]:
# # aqui estamos limpando nomes de colunas que vinham com espaço e charcter / 
# df.columns = [c.replace(' ', '_') for c in dfok.columns]
# df.columns = [c.replace('/', '_') for c in dfok.columns]

No laço for abaixo percorremos todas as colunas do CSV adicionando dm df_coluna_by_coluna

In [102]:
for i in range(1,14):
    colunas=[0,i]
    df_coluna_by_coluna = pd.read_csv(url_or_file, header=0,usecols=colunas)    
    pergunta=df_coluna_by_coluna.columns[1]     
    df_coluna_by_coluna = df_coluna_by_coluna.rename(columns={ pergunta : 'Answer'})    
    df_coluna_by_coluna['Question']=pergunta
    df_coluna_by_coluna['Questionid']=i        
    
    df = (pd.concat([df, df_coluna_by_coluna],ignore_index = True))
    df['Carimbo_de_data_hora']= (pd.to_datetime(df['Carimbo_de_data_hora']))
    df['Questionid']=(pd.to_numeric(df['Questionid']))

print(len(df))


#print(dfok[0:1100])
# dfok1 = dfok[0:1085]
# inicio=(8*216)
# fim=(inicio+1)
# dfok1 = dfok[inicio:fim]

2821

In [103]:

display(df)

,Carimbo_de_data_hora,Answer,Question,Questionid
0,2022-08-29 22:16:01,Análise de Dados,1) Você é aluno de qual curso do Programa Entr...,1
1,2022-08-29 22:17:13,Análise de Dados,1) Você é aluno de qual curso do Programa Entr...,1
2,2022-08-29 22:18:05,Análise de Dados,1) Você é aluno de qual curso do Programa Entr...,1
3,2022-08-29 22:18:23,Análise de Dados,1) Você é aluno de qual curso do Programa Entr...,1
4,2022-08-29 22:18:32,Análise de Dados,1) Você é aluno de qual curso do Programa Entr...,1
...,...,...,...,...
2816,2022-01-09 21:38:07,Espanhol,13) Qual (is) o(s) outro(s) idioma(s) você pos...,13
2817,2022-01-09 21:38:45,Inglês,13) Qual (is) o(s) outro(s) idioma(s) você pos...,13
2818,2022-01-09 21:42:21,"Inglês, Japonês",13) Qual (is) o(s) outro(s) idioma(s) você pos...,13
2819,2022-01-09 21:42:25,Nenhuma das alternativas,13) Qual (is) o(s) outro(s) idioma(s) você pos...,13
2820,2022-01-09 22:00:09,Inglês,13) Qual (is) o(s) outro(s) idioma(s) você pos...,13

Abaixo criamos uma codificação para os nomes de empresas e outros detalhes.
questionid = 8
questionid = 9

In [104]:


def verifica(base8,empresa):
    ret='None'
    for a,b in base8.items():
        if (a == empresa):
            ret = b                        
            
    return ret

        
base8 = {
'Senior Sistemas' : 'Empresa1',
'Philips':'Empresa2',
'Ailos' : 'Empresa3',
'Capgemini' : 'Empresa4',
'Ambev Tech' : 'Empresa5',
'Warren' : 'Empresa6',
'DataInfo' : 'Empresa7',
'Farmácias App' : 'Empresa8',
'Havan Labs' : 'Empresa9',
'T-Systems' : 'Empresa10',
'Unifique' : 'Empresa11',
'Ambev Tech, Capgemini, Warren' : 'Mestre'
}

base9 = {
'Senior Sistemas' : 'Empresa1',
'Philips':'Empresa2',
'Ailos' : 'Empresa3',
'Capgemini' : 'Empresa4',
'Ambev Tech' : 'Empresa5',
'Warren' : 'Empresa6',
'DataInfo' : 'Empresa7',
'Farmácias App' : 'Empresa8',
'Havan Labs' : 'Empresa9',
'T-Systems' : 'Empresa10',
'Unifique' : 'Empresa11',
'Ambev Tech, Capgemini, Warren' : 'Mestre'
}

In [105]:
#dataframe New Serializer
dfns=pd.DataFrame()

crb=[]
qst=[]
qid=[]
ans=[]
ans_code=[]

for index,row in df.iterrows():            
    for answerseparada in (list(str.split(row.Answer,sep=','))): 
        crb.append(row.Carimbo_de_data_hora)
        qst.append(row.Question)
        qid.append(row.Questionid)
        ans.append(answerseparada)
        if (row.Questionid == 8):
             ans_code.append(verifica(base8,answerseparada))
        elif (row.Questionid == 9):
             ans_code.append(verifica(base9,answerseparada))
        else:
            ans_code.append(answerseparada)        
                
        
dfns['Carimbo_de_data_hora'] = crb
dfns['Question'] = qst
dfns['Questionid'] = qid
dfns['Answer'] = ans
dfns['AnswerCode'] = ans_code

print(dfns.shape)

(4336, 5)

In [106]:
display(dfns)

,Carimbo_de_data_hora,Question,Questionid,Answer,AnswerCode
0,2022-08-29 22:16:01,1) Você é aluno de qual curso do Programa Entr...,1,Análise de Dados,Análise de Dados
1,2022-08-29 22:17:13,1) Você é aluno de qual curso do Programa Entr...,1,Análise de Dados,Análise de Dados
2,2022-08-29 22:18:05,1) Você é aluno de qual curso do Programa Entr...,1,Análise de Dados,Análise de Dados
3,2022-08-29 22:18:23,1) Você é aluno de qual curso do Programa Entr...,1,Análise de Dados,Análise de Dados
4,2022-08-29 22:18:32,1) Você é aluno de qual curso do Programa Entr...,1,Análise de Dados,Análise de Dados
...,...,...,...,...,...
4331,2022-01-09 21:38:45,13) Qual (is) o(s) outro(s) idioma(s) você pos...,13,Inglês,Inglês
4332,2022-01-09 21:42:21,13) Qual (is) o(s) outro(s) idioma(s) você pos...,13,Inglês,Inglês
4333,2022-01-09 21:42:21,13) Qual (is) o(s) outro(s) idioma(s) você pos...,13,Japonês,Japonês
4334,2022-01-09 21:42:25,13) Qual (is) o(s) outro(s) idioma(s) você pos...,13,Nenhuma das alternativas,Nenhuma das alternativas
4335,2022-01-09 22:00:09,13) Qual (is) o(s) outro(s) idioma(s) você pos...,13,Inglês,Inglês

In [107]:
import mysql.connector

In [ ]:

cnx = mysql.connector.connect(
    host = '3.89.36.150',
    user = 'e2122g3',
    password = 'e2122g3@16@ago',
    database = 'e2122g3'
    )

cur = cnx.cursor()

cur.execute("""
    DROP TABLE IF EXISTS PERGUNTAS_TCC; 
""")

cur.execute("""    
    CREATE TABLE PERGUNTAS_TCC(
            PERGUNTAS_CARIMBO DATE NOT NULL,
            PERGUNTAS_ID_RESPOSTA INTEGER,
            PERGUNTAS_NOME TEXT NOT NULL,
            PERGUNTAS_RESPOSTA TEXT NOT NULL
    );
""")

In [ ]:
divisoes = int((len(dfns))/1000+1)

print(divisoes)

def insere_valores(inicio,fim):
    print(inicio,fim)
    values = []
    for index,row in dfns[inicio:fim].iterrows():    
        for xresp in (list(str.split(row.Answer,sep=','))):
            CARIMBO = row.Carimbo_de_data_hora
            IDRESPOSTA = row.Questionid
            PERGUNTA = row.Question
            RESPOSTA = xresp 
            
            values.append((CARIMBO,IDRESPOSTA,PERGUNTA,RESPOSTA))           
            print((inicio,fim,CARIMBO,IDRESPOSTA,PERGUNTA,RESPOSTA))

    insert_values = "".join(str(values).strip('[]'))
    sql=(f"INSERT INTO PERGUNTAS_TCC (PERGUNTAS_CARIMBO,PERGUNTAS_ID_RESPOSTA,PERGUNTAS_NOME,PERGUNTAS_RESPOSTA) VALUES {insert_values}")

    
    cur.execute(sql)
    cnx.commit()

In [ ]:


divisoes = int((len(dfns))/1000+1)

print(divisoes)

total = int(len(dfns))
passo = int(len(dfns)/divisoes)
saldo = total

x, inicio, fim = 0, 0, 0
lista = []

while saldo > 0:   

    fim = fim+passo
    print(f'saldo: {saldo} passo: {passo}' )

    if saldo < passo:
        fim = inicio + (saldo-1)      
        
        # lista.append((inicio, inicio+saldo))
    else:
        fim = inicio + (passo -1)
        # lista.append((inicio, fim))        

    saldo = saldo-passo
    if saldo < 10:
        fim = fim + saldo 
        saldo = saldo - saldo 
    lista.append((inicio,fim))

    
    # inicio = inicio + passo +1
    inicio = fim + 1 

for x, y in lista:
    print(f'*************: {x},{y} = {y-x}')
    insere_valores(x, y)

In [ ]:
cur = cnx.cursor()
cur.execute("""
    "SELECT COUNT(*) FROM PERGUNTAS_TCC"; 
""")

cnx.commit()